extends layout.pug

block content
    div
        h1.matter-h1 About project  
            img(src="/img/glass.png", alt="About project")
            p.matter-body1 Back to #[a.matter-link(href="/", target="blank") WineChecker]
    div
        h2.matter-h2 hakabonq Team
        p.matter-body1 Dmitry #[a.matter-link(href="https://t.me/xGULZAx", target="blank") @xGULZAx] Yakuba - Team Lead, Tech Writer
        p.matter-body1 Artyom #[a.matter-link(href="https://t.me/bogachenco", target="blank") @bogachenco] Bogachenko - ML Engineer
        p.matter-body1 Pavel #[a.matter-link(href="https://t.me/Justarone", target="blank") @Justarone] Perestoronin - ML Engineer
        p.matter-body1 Sergey #[a.matter-link(href="https://t.me/hackfeed", target="blank") @hackfeed] Kononenko - Fullstack Developer, DevOps Engineer
        p.matter-body1 Mikhail #[a.matter-link(href="https://t.me/VASYA_VAN", target="blank") @VASYA_VAN] Nitenko - Video Production
        p.matter-body1 Alexey #[a.matter-link(href="https://t.me/mRRvz", target="blank") @mRRvz] Romanov - Professional Actor
    div
        h2.matter-h2 System principles
        img(src="/img/arch.svg", style="width: 60%;", alt="System principles")
    div
        h2.matter-h2 AI Models comparison
        img(src="/img/model.png", style="width: 60%;", alt="AI Models Comparison")